@model IEnumerable<WebApplication17.Models.Emp>

@{
    ViewBag.Title = "Display";
}
@Html.Partial("partialView");


<h2>Display</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDoj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDoj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Empid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Empid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Empid })
        </td>
    </tr>
}

</table>
